##### DA2_KC requirement:
- Make .ipynb
- find and access data set (NOAA weather data)

In [53]:
import pandas as pd
import numpy as np

## NOAA weather data for Beattyville, KY
### https://www.ncdc.noaa.gov/cdo-web/search
### Key for column values according to NOAA:
- PRCP - Precipitation
- SNOW - Snowfall
- SNWD - Snow depth
- TMAX - Maximum temperature
- TMIN - Minimum temperature
- TOBS - Temperature at the time of observation
- WT01 - Fog, ice fog, or freezing fog (may include heavy fog)
- WT03 - Thunder
- WT04 - Ice pellets, sleet, snow pellets, or small hail"
- WT06 - Glaze or rime
- WT11 - High or damaging winds

In [54]:
weather_df = pd.read_csv('csv/weather_data.csv')

In [55]:
weather_df.head(15)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT06,WT11
0,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,NaN,1.0,NaN,NaN,NaN
1,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
2,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN
3,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,NaN,NaN,NaN,NaN,NaN
4,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,NaN,NaN,NaN,NaN,NaN
5,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-06,0.00,0.0,0.0,51.0,27.0,29.0,NaN,NaN,NaN,NaN,NaN
6,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-07,0.57,7.2,7.0,NaN,11.0,11.0,NaN,NaN,NaN,NaN,NaN
7,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-08,0.00,0.0,7.0,16.0,9.0,13.0,NaN,NaN,NaN,NaN,NaN
8,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-09,0.77,0.0,0.0,45.0,13.0,44.0,NaN,NaN,NaN,NaN,NaN
9,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-10,0.82,0.0,0.0,47.0,20.0,21.0,NaN,NaN,NaN,NaN,NaN
10,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-11,0.00,0.0,0.0,35.0,16.0,19.0,NaN,NaN,NaN,NaN,NaN
11,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-12,0.00,0.0,0.0,37.0,19.0,37.0,NaN,NaN,NaN,NaN,NaN
12,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-13,0.00,0.0,0.0,41.0,35.0,41.0,NaN,NaN,NaN,NaN,NaN
13,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-14,0.00,0.0,0.0,54.0,31.0,33.0,NaN,NaN,NaN,NaN,NaN
14,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-15,0.00,0.0,0.0,38.0,30.0,31.0,NaN,NaN,NaN,NaN,NaN

##### DA2_KC requirement:
- Change columns name for easier readability
- Since all readings are from one station in Beattyville we can remove the 'Station' and 'Name' column
- Fill NaN

In [56]:
weather_df.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP',
       'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'WT01', 'WT03', 'WT04', 'WT06',
       'WT11'],
      dtype='object')

In [57]:
rename_columns = {'WT01' : 'FOG',
                  'WT03' : 'THUNDER',
                  'WT04' : 'HAIL',
                  'WT06' : 'RIME',
                  'WT11' : 'WIND'}

weather_df = weather_df.rename(columns= rename_columns)

weather_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,FOG,THUNDER,HAIL,RIME,WIND
0,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,NaN,1.0,NaN,NaN,NaN
1,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
2,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN
3,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,NaN,NaN,NaN,NaN,NaN
4,USC00150483,"BEATTYVILLE 4 N, KY US",37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,NaN,NaN,NaN,NaN,NaN

In [58]:
weather_df.drop(['STATION', 'NAME'], axis=1, inplace=True)

In [59]:
weather_df.head()

,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,FOG,THUNDER,HAIL,RIME,WIND
0,37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,NaN,1.0,NaN,NaN,NaN
1,37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,NaN,NaN,NaN,NaN,NaN
2,37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,NaN,NaN,NaN,NaN,NaN
3,37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,NaN,NaN,NaN,NaN,NaN
4,37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,NaN,NaN,NaN,NaN,NaN

In [60]:
weather_df = weather_df.fillna(0)
weather_df.head()

,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,FOG,THUNDER,HAIL,RIME,WIND
0,37.6336,-83.7161,329.2,2022-01-01,1.91,0.0,0.0,63.0,46.0,57.0,0.0,1.0,0.0,0.0,0.0
1,37.6336,-83.7161,329.2,2022-01-02,1.44,0.0,0.0,70.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0
2,37.6336,-83.7161,329.2,2022-01-03,0.05,0.0,0.0,50.0,26.0,27.0,0.0,0.0,0.0,0.0,0.0
3,37.6336,-83.7161,329.2,2022-01-04,0.00,0.0,0.0,32.0,19.0,23.0,0.0,0.0,0.0,0.0,0.0
4,37.6336,-83.7161,329.2,2022-01-05,0.00,0.0,0.0,45.0,23.0,42.0,0.0,0.0,0.0,0.0,0.0